@font-face {
    font-family: red_hat_display;
    src: url(Red_Hat_Display/static/RedHatDisplay-ExtraBold.ttf);
}

@font-face {
    font-family: red_hat_display1;
    src: url(Red_Hat_Display/static/RedHatDisplay-Regular.ttf);
}

* {
    margin: 0px;
}


section{
    height: 100%;
    font-family: "red_hat_display";
    text-align: center;
    margin: 0px;
}

button{
    cursor: pointer;
    color: white;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70PX;
    margin-top: 50px;
}

.ppp {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 120px;
}

.flex{
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 330px;
    
}


.flex2{
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 330px;
}

.flex img{
    margin-top: 20px;
}
.flex2 img{
    margin-top: 20px;
}


.picsHead1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin: 50px 0px 0px 0px;
    width: 100%;
}



.picsHead2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 30px 30px 30px;
    width: 100%;
   
}

.picsHead3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 30px 30px 30px;
    width: 100%;
}

.hero{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 570px;
    top: 220px;
    right: 29%;
}

.hero h1{
    font-family: 'red_Hat_Display';
    font-style: normal;
    font-weight: 900;
    width: 400px;
    font-size: 64px;
    line-height: 64px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    text-align: center;
}

.hero P{
    font-family: 'red_hat_display1'; 
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    width: 100%;
    text-align: center;
    color: rgba(135, 135, 157, 1);

}

.buttonSpace{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-top: 15px;
    font-family: 'red_Hat_Display';

}

.buttonSpace button{
    width: 195px;
    height: 58px;
    background: rgba(77, 150, 169, 1);
    margin-right: 20px;
    margin-top: 20px;
    font-family: 'red_Hat_Display';
    border: 0px;
    border-radius: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    transition: 1s;
    
}

button span{
color: rgba(143, 227, 249, 1);
}


.buttonSpace :nth-child(2){
    width: 140px;
    height: 58px;
    border: 0px;
    font-family: 'red_Hat_Display';
    border-radius: 30px;
    background: rgba(133, 95, 177, 1);
    transition: 1s;
}

.buttonSpace button:hover{
    background: rgba(113, 192, 212, 1);
}

.buttonSpace :nth-child(2):hover{
    background: rgba(177, 139, 221, 1);
}

.images{
    margin-top: 65px;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.images img{
    margin: 15px;
    margin-bottom: 87px;
    
}
.images img{
    width: 20%;
}
.info{
    text-align: center;
    margin-bottom: 71px;
}

.info h5{
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4D96A9;
    margin-bottom: 25px;
}

.info h3{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #28283D;
    width: 445px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.info p{
    font-family: 'red_Hat_Display1';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
    width: 540px;
    margin: auto;
    
}


.info2 {
  height: 110px;
}

.last {
    display: flex;
    background-image: url(images/Bitmap\ co.svg);
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    width:  100%;
}

.last h3{
    width: 345px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: #FAFAFA;
    text-align: left;
}

.last p{
    font-family: 'red_Hat_Display1';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    width: 350px;
    text-align: left;
    color: #FAFAFA;
}

.buttonSpace2{
    width: 140px;
    height: 58px;
    border: 0px;
    font-family: 'red_Hat_Display';
    border-radius: 30px;
    background: rgba(133, 95, 177, 1);
    transition: 1s;
}

.buttonSpace2:hover{
    background: rgba(177, 139, 221, 1);
}

.buttonSpace2 span{
    color: rgba(217, 184, 255, 1);
}

@media only screen and (min-width: 768px) and (max-width:1350px) {

    
    .hero{
        position: initial;
        margin: auto;
        margin-bottom: 80px;
        margin-top: 200px;
        right: 29%;
    }

    .flex{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 400px;
    }
    .flex img{
        width: 100%;
        height: 90%;
    }

    .flex2 img{
        width: 100%;
        height: 90%;
    }

    .ppp{
        width: 100%;
        height: 200px;
        margin: 0px;
        margin-top: 200px;
    }
    
    .flex2{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 400px;
    }

    .picsHead1{
        display: flex;
        justify-content: space-between;
    }

    .picsHead2{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0px;
        height: 300px;
        width: 70%;
    }

    .picsHead3{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        margin: 100px 0px 0px 0px;
        width: 100%;
    }

    

    .flex2 .picsHead1{
        margin: 10px 0px 0px 0px;
        height: 300px;
        align-items: last baseline;
        width: 70%;
    }

    .flex .picsHead1{
        margin: 100px 0px 0px 0px;
        align-items: flex-start;
        width: 50%;
    }

    .images img{
        width: 22%;
        flex-wrap: nowrap;
    }

    .last{
        background-image: url(images/Bitmap222.svg);
        flex-direction: column;
        height: 430px;
        text-align: center;
        background-repeat: initial;
    }
    .last p{
        text-align: center;
    }
    .last h3{
        text-align: center;
        margin-top: 40px;
    }

    .images img{
        margin: 10px;
        margin-bottom: 87px;

}

}



@media only screen and (max-width: 768px){
    .header{
        margin-bottom: 20px;
    }

    .ppp{
        justify-content: space-between;
        margin: 0px;
    }
    
    
    .hero{
        position: initial;
        margin: auto;
        margin-bottom: 80px;
        width: 330px;
        right: 29%;
    }

    .hero h1{
        font-size: 40px;
        line-height: 44px;
        margin-top: 40px;
        }

    .hero p{
        font-size: 16px;
        line-height: 26px;
    }

    .buttonSpace {
        flex-direction: column;
        align-items: center;
    }

    .flex img{
        height: 100%;
        width: 100%;
        margin: 0px;
        margin-top: 20px;
    }
    .flex2 img{
        height: 100%;
        width: 100%;
        margin: 0px;
        margin-top: 20px;
    }
    .flex{
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }
    .picsHead2{
        width: 100%;
        margin: 0px;
        
    }
    .picsHead3{
        width: 70%;
        margin: 0px;
        margin-top: 70px;
    }
    .picsHead1{
        width: 100%;
    }

    .flex .picsHead1:first-child {
        height: 10%;
        align-items: flex-start ;
        width: 70%;
    }

    .flex2 .picsHead1:nth-child(3) {
        height: 20%;
        width: 40%;
        margin-bottom: 40px;
    }

    .flex2 .picsHead1{
        margin: 10px 0px 0px 0px;
        width: 50%;

    }

    .flex2 .picsHead3{
        width: 50%;
    }

    .flex2{
        width: 100%;
        height: 100%;
        justify-content: flex-end;
    }
    .ppp{
        width: 100%;
    }
    .images img{
        margin: 0px;
        flex-wrap: wrap;
        width: 40%;
        margin: 10px 10px 10px 10px;
    }

    .info h5{
        margin-top: 50px;
    }

    .info p{
        font-size: 16px;
        line-height: 26px;
        width: 327px;
    }

    .info h3{
        font-size: 32px;
        line-height: 36px;
        width: 337px;
    }

    .last{
        background-image: url(images/Bitmap222.svg);
        flex-direction: column;
        height: 430px;
        text-align: center;
        background-repeat: initial;
    }
    .last p{
        text-align: center;
    }
    .last h3{
        text-align: center;
        margin-top: 40px;
    }
}